* {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#star {
  width: 100px;
  height: 100px;
}

#star2 {
  width: 100px;
  height: 100px;
}
#star3 {
  width: 100px;
  height: 100px;
}
#star4 {
  width: 100px;
  height: 100px;
}
#star5 {
  width: 100px;
  height: 100px;
}

.star3 {
  translate: 400px;
}
